# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Data Science Tools
- Evaluating Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. plotly
4. seaborn

|Data Science Tools|
|------|
|Jupyter Notebooks|
|R Studio|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Ansh Agarwal